*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: bisque;
   font-family: 'Righteous', cursive; 
   text-align: center;
   height:100vh;
   width:100vw;
}
h1{
margin: 5rem 0;
}
#score{
    margin: 2rem;
}

.dot{
    height:15vh;
    width: 15vw;
    
}

#start, #end{
    margin: 3rem;
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 5px;
}
#end{
    display: none;
}

