body{
  font-family: Arial, Helvetica, sans-serif;  
}
input, button{
    font-family: inherit;
    padding: 10px;
    font-size: 14px;
}

button{
    border: none;
    background-color: coral;
    font-size: 20px;
    color: white;
    margin: 20px 0;
    border-radius: 2px;
}
label{
    display: inline-block;
    width: 20px;
    margin-right: 60px;
}
.form_group{
    margin: 10px;
}